<template>
<div class="m">
    <section id="informatio">
        <img src="@\assets\Perfil.png" alt="">
        <h1><span>{{ userDetailById.username}}</span></h1>
        <h3><span>{{ userDetailById.email}}</span></h3>
        <h2><span>{{ userDetailById.current_profession}}</span></h2>
        <button v-on:click="loadAccountEditar" id="edit_perfil_button"> Edita tu perfil</button>
    </section>

    <div class="courser">    
    
        <div id="barra">
            <div>
                <button class="course-button" v-on:Click="numb = 1">Mis cursos</button>
                <img src="@\assets\Cursos.png" alt="" class="course-image">
            </div>
            
            <div>
                <button class="course-button" v-on:Click="numb = 2">Mis certificados</button>
                <img src="@\assets\Certificados.png" alt="" class="course-image">
            </div>

            <div>
                <button class="course-button" v-on:Click="numb = 3">¿Necesitas informacion?</button>
                <img src="@\assets\Info.png" alt="" class="course-image">
            </div>
        </div>


        <div class="bar_buttons" v-if="numb==1">
            <button class="progress_button" v-on:Click="progress=1">En progreso</button>
            <button class="complete_button" v-on:Click="progress=2">Completados</button>

            <table v-if="progress==1">
                
                <tr>
                    <td>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7TKY-jksHRQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class=""></iframe>
                    </td>

                    <td>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/z95mZVUcJ-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>

                    <td>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kN1XP-Bef7w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>

                    <td>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/chPhlsHoEPo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/vo4VF3neyrs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                    <td>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7vHzVN0EiQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                    <td>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Pope-m4nuNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                    <td>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Qjhbkb7KoDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                </tr>
            </table>

            <table v-if="progress==2">
                
                <tr>
                    <td>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/HiXLkL42tMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>

                    <td>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/DqXFtylWI10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>

                    <td>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/NkvvWMS220g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                
                </tr>
            </table>

        </div>

        <table class="certificados" v-if="numb==2">
            <br>
            <tr>
                <td style="background-color:#192229;">
                    <a href="" download="Certificado.pdf"><img class="Img_certificado" src="@/assets/Icon_3_Certifi.png" alt=""></a>
                </td>

                <td style="background-color:#007fbf;">
                    <a href="" download="Certificado.pdf"><img class="Img_certificado" src="@/assets/Icon_3_Certifi.png" alt=""></a>
                </td>

                <td style="background-color:#023752;">
                    <a href="" download="Certificado.pdf"><img class="Img_certificado" src="@/assets/Icon_3_Certifi.png" alt=""></a>
                </td>

                <td style="background-color:#0e5072;">
                    <a href="" download="Certificado.pdf"><img class="Img_certificado" src="@/assets/Icon_3_Certifi.png" alt=""></a>
                </td>
            </tr>
            <br>
            <tr>
                <td style="background-color:#78bbdd;">
                    <a href="" download="Certificado.pdf"><img class="Img_certificado" src="@/assets/Icon_3_Certifi.png" alt=""></a>
                </td>

                <td style="background-color:#35495e;">
                    <a href="" download="Certificado.pdf"><img class="Img_certificado" src="@/assets/Icon_3_Certifi.png" alt=""></a>
                </td>

                <td style="background-color:#212e36;">
                    <a href="" download="Certificado.pdf"><img class="Img_certificado" src="@/assets/Icon_3_Certifi.png" alt=""></a>
                </td>

                <td style="background-color:#192229;">
                    <a href="" download="Certificado.pdf"><img class="Img_certificado" src="@/assets/Icon_3_Certifi.png" alt=""></a>
                </td>
            </tr>
           
        </table>

        <table class="infor" v-if="numb==3">
            <tr>
                <td style="color: #3FB3ED;" font-size="35px;">CONTACTO </td>
            </tr>
            <tr>
                <td>maieutics@gmail.com</td>
            </tr>
            <br>
            <tr>
                <td>Developer: paula@gmail.com</td>
                
            </tr>
            <br>
            <tr>
                <td>Developer: isaac@gmail.com</td>
                
            </tr>
            <br>
            <tr>
                <td>Developer: santiago@gmail.com</td>
                
            </tr>
            <br>
            <tr>
                <td>Developer: sebastian@gmail.com</td>
                
            </tr>
            <br>
            <tr>
                <td>Developer: oliver@gmail.com</td>
                
            </tr>
        </table>

        <div></div>
    </div>
</div>
</template>

<script>
import gql from "graphql-tag";
import jwt_decode from "jwt-decode";

export default{
    name: "Account",

    data: function(){
      return{
        numb: 1,
        progress: 1,
        userId: jwt_decode(localStorage.getItem("token_refresh")).user_id,
        userDetailById: {
            username: "",
            name: "",
            email: "",
            },
        };
    },
    methods: {
        loadAccountEditar: function(){
        this.$router.push({name: "AccountEditar"})
        }
    },
    apollo: {
        userDetailById: {
            query: gql`
                query ($userId: Int!) {
                    userDetailById(userId: $userId) {
                        username
                        email
                        current_profession
                    }
                }
            `,
            variables() {
                return {
                    userId: this.userId,
                };
            }
        },
    }  
}
</script>

<style>

.m{
    font-family: 'GlacialIndifferenceRegular';
    height: 80vh;
    padding:0 0 35px 0 ;
    margin: auto;
    width: 100%;
    background-color: #253e5e;
    /*background-image: url("../assets/FondAcount.png");*/
}
#informatio{
    background-color: #172934;
    border-radius: 40px;
    margin: 0;
    padding: 20px;
    width: 25%;
    height:70%;
    position: relative;
    top: 10%;
    left: 5%;
    justify-content: center;
    align-items: center; 
    text-align: center;
}
#informatio h1{
    font-size: 55px;
    color: rgb(29, 207, 238);
    margin: 10px 0 0 0;
    font-weight: lighter;
}
#informatio h3{
    font-size: 35px;
    color: #fff;
    margin: 0 0 10px 0;
    font-weight: lighter;
}
#informatio h2{
    font-size: 35px;
    color: #fff;
    margin: 0%;
    font-weight: lighter;
}

#informatio h2.profile{
    color: #3FB3ED;
    margin-top: 5%;
}

#informatio img{
    width: 50%;
    height:45%;
    margin: auto;
    background-color: rgb(193, 228, 248);
    border-radius: 100%;
}
#edit_perfil_button{
   border-radius: 50px;
    width: 50%;
    height:10%; 
    background-color: #fff;
    color: #3fb3ed;
    position: absolute;
    bottom:8%;
    right: 25%;
    border: none;
    font-size: 25px;
    font-weight: bold; 
    transition: 0.5s;  
}
#edit_perfil_button:hover{
    background-color: #3fb3ed ;
    cursor: pointer;
    transition: 0.5s;
    color: #172934;
}

.courser{
    background-color: #172e3d;
    border-radius:40px;
    width:58%;
    height:90%;
    position:relative;
    bottom: 65%;
    left: 40%;
}
#barra{
    background-color: #192229;
    border-radius: 40px;
    width: 100%;
    height: 35%;

    display: flex;
    flex-direction:center;
    align-items:center;

}
#barra div{
    width:32%;
    height:100%;

    display: flex;
    justify-content:center;
    align-items: center;
}
.course-button{
    position:relative;
    left: 30%;
    width: 50%;
    height: 100%;
    background-color: #192229;
    border:none;
    color: #fff;
    font-size:22px;

    justify-content: center;
    align-items: center;
}
.course-button:hover{
    cursor: pointer;
    color: #3fb3ed;
    transition: 0.5s;
}
.course-image{
    width:12%;
    position:relative;
    left: 6%;
    opacity: 1;
}
.course-image-2{
    width:12%;
    position:relative;
    margin-left: -46px;
    opacity: 0 ;
}
.progress_button, .complete_button{
    border:none;
    background-color: #13222b;
    border-radius: 25px;
    color: #fff;
    position: relative;
    left: 37%;
    bottom: 1%;
    margin-top: 2%;
    margin-right: 4%;
    margin-bottom: 2%;
    padding:2%;
    transition: 00.9s;
    font-size: 14px;

}
.progress_button:visited{
    background-color: #3FB3ED;
}
.progress_button:hover{
    background-color: #3fb3ed ;
    cursor: pointer;
    transition: 0.5s;
    color: #172934;
    border-radius: 18px;
}

.complete_button:hover{
    background-color: #3fb3ed ;
    cursor: pointer;
    transition: 0.5s;
    color: #172934;
    border-radius:18px;
}
iframe{
    align-content: center;
    align-items: center;
    width:95%;
    height:0%;
    /*border: thick;*/
    border-radius: 20px;
    margin: 0 2.5%;
}
.bar_buttons{
    height: 10%;
    width:100%;
   
    
    
}
.infor{
    text-align: center;
}
.infor tr td{
    color: #fff;
    position: relative;
    top:55px;
    left: 150%;
    font-size: 20px;
    
}
.Img_certificado{
    width:60%;
    height:0%;
}
.Img_certificado:hover{
    background-color:#b8cad8;
    cursor: pointer;
    transition: 0.4s;
    color: #9dacb6;
    border-radius: 15%;
}

</style>