<template>
<div class="main">
    <div class="questions">
        <div class="imagen">
            <h1>Editar<br>perfil</h1>
            <img class="img-perfil" src="@/assets/Perfil.png" alt="">
        </div>
        
        <div class="edit">
            <form action="" class="container-perfil-form" autocomplete="off">
                <div class="firstPart">
                    <div class="inputs">
                        <label for="Nombres">Nombres</label><br>
                        <input type="text" id="Nombres">
                    </div>
                    <br>
                    <div class="inputs">
                        <label for="Apellidos">Apellidos</label><br>
                        <input type="text" id="Apellidos">
                    </div>
                    <br>
                    <div class="inputs">
                        <label for="País">Pais</label><br>
                        <input type="text" id="Pais">
                    </div>
           
                    <div class="inputs">
                        <label for="Genero">Genero</label><br>
                        <select id="Genero" required >
                            <option selected value="#">Seleccione--</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                </div>

                <div id="secondPart">
                    <div class="inputs">
                        <label for="fechaNacimiento">Fecha de nacimiento</label><br>
                        <input type="date" id="fechaNacimiento">
                    </div>
                    <br>

                    
                    <div class="inputs">
                        <label for="Profesion">Profesión</label><br>
                        <select id="Profesion" required>
                            <option selected value="#">Seleccione--</option>
                            <option value="Femenino">Estudiante</option>
                            <option value="Masculino">Empresa</option>
                            <option value="Otro">Profesional</option>
                            <option value="Otro">Freelancer</option>
                        </select>
                    </div>
                    <br>
                    <div class="Botones">
                        <button type="button" class="delete-button">Eliminar cuenta</button>
                        <button type="submit" class="submit-button">Guardar</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</template>

<script>


export default{
name: "Account",

    data: function(){
      return{
          
      }
  },

}
</script>

<style>
*{
    font-family: 'GlacialIndifferenceRegular';
    margin:0px;
    padding:0px;
    border:0px;
    
}
.main{
    height: 85vh;
    margin: auto;
    width: 100%;
    background-color: #253e5e;
    /*background-image: url("../assets/FondAcount.png");*/

}
.questions{
    background-color: #172934;
    display: flex;
    width: 90%;
    height: 70%;
    border-radius: 20px;
    position: absolute;
    left: 5%;
    top: 30%;
    
}
.img-perfil{
    width: 62%;
    height: 60%;
}
main{
    background-color: #172934;
    display: flex;
    width: 90%;
    height: 70%;
    border-radius: 20px;
    position: absolute;
    left: 5%;
    top: 15%;
}
.imagen{
    
    position: absolute;
    width: 32%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagen h1{
    font-family: 'GlacialIndifferenceRegular';
    color: #fff;
    font-size: 50px;
    margin: 0%;
    padding-top: 25%;
}
.edit{
    width: 70%;
    height: 100%;
    display: flex;
    margin-left: 600px;
}

.firstPart{
    width: 50%;
}
.edit label{
    color: rgb(255, 255, 255);
    
}
form{
    width: 100%;
    display: flex;
}
#secondPart{
    width: 50%;
    height: 100%;
}
#Biografia{
    width:90%;
    height:25%;
    border:none;
    border-radius: 5px;
    background-color: #d4cece;
    color: #000;
    font-size: 20px;
}

#Nombres{
    width:90%;
    height:25%;
    border:none;
    border-radius: 5px;
    background-color: #d4cece;
    color: #000;
    font-size: 20px;
}

.inputs{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#Apellidos{
    width:90%;
    height:25%;
    border:none;
    border-radius: 5px;
    background-color: #d4cece;
    color: #000;
    font-size: 20px;
}
#Pais{
    width:90%;
    height:25%;
    border:none;
    border-radius: 5px;
    background-color: #d4cece;
    color: #000;
    font-size: 20px;
}
#Genero{
    width:90%;
    height:25%;
    border:none;
    border-radius: 5px;
    background-color: #d4cece;
    color: #000;
    font-size: 20px;
}

#fechaNacimiento{
    width:90%;
    height:25%;
    border:none;
    border-radius: 5px;
    background-color: #d4cece;
    color: #000;
    font-size: 20px;
}

#Profesion{
    width:90%;
    height:25%;
    border:none;
    border-radius: 5px;
    background-color: #d4cece;
    color: #000;
    font-size: 20px;
}

.Botones{
    height: 150px;
    margin-top: 17px;
    display: flex;
    align-items: center;
}
.Botones .submit-button{
    width:45%;
    height:30%;
    border: none;
    background-color: #fff;
    color:#3fb3ed;
    border-radius: 50px;
    font-size: 20px;
    transition: 0.5s;
}

.Botones .submit-button:hover{
    background-color: #3fb3ed;
    color:#fff;
    cursor: pointer;
    transition: 0.5s;
}
.Botones .delete-button{
    width:45%;
    height:30%;
    border: none;
    background-color: #e48080;
    color: #fff;
    margin-right: 15px;
    border-radius: 50px;
    font-size: 20px;
    transition: 0.5s;
}

.Botones .delete-button:hover{
    background-color: rgb(241, 22, 22);
    color:#ffffff;
    cursor: pointer;
    transition: 0.5s;
}
</style>
