<template>
    <div class="contenidoCC">
        <section id="columnai">
          <section id="infor">
            <p>Los certificados generados son de carácter simbólico. No tienen valor académico oficial.</p>
          </section>
            <img src="@\assets\CERTIFICARTE.png" alt="Certificate image">
        </section>
        <section id="columnad">
            <h2>¿Cómo Certificarte?</h2>
            <img src="@\assets\CERTIFICARTEINFO1.png" alt="Certificate info">
            <img src="@\assets\CERTIFICARTEINFO2.png" alt="Certificate info">
            <img src="@\assets\CERTIFICARTEINFO3.png" alt="Certificate info">
        </section>
    </div>
</template>



<style>

  .contenidoCC{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 75vh; 
    background-color: rgb(37, 62, 94);
    display: flex;
  }
/*---------------------------*/
  #columnai{
    width: 50%;
    align-items:center;
    align-content: center;
    text-align: center;
    /*background-color: rgb(25, 34, 41);*/
  }
  #columnai img{
    padding: 0 0 0 12.5vh;
    width: 78.5%;
  }
  #infor{
    width: 60%;
    background: #223546;
    margin: 35px 0 0 25vh;
    border-radius: 20px;
  }
  #infor p{
    font-family: 'GlacialIndifferenceRegular';
    color: aliceblue;
    padding: 20px 4px;
    font-size: 18px;
    margin: 0 30px;
  }
/*-----------------------------*/
  #columnad{
    width: 50%;
    text-align: center;
    /*background-color:rgb(25, 34, 41);*/
  }
  #columnad img{
    margin: 2vh 12vh 0 0;
    width: 87%;
  }
  #columnad h2{
    font-family: 'GlacialIndifferenceRegular';
    color: rgb(242, 242, 243);
    font-size: 80px;
    margin: 7vh 12vh 1vh 0;
  }
  img{
    display:block;
    margin:auto;
  }

</style>