<template>
    <div class="homeu">
        <section id="usuario">
             <h1>¡Bienvenido  <span> {{username}} </span>!</h1>
        </section>
        <section id="contenidoHome">
            <div id="titulo">
                <h1>¿Qué quieres aprender hoy?</h1>
            </div>
            <div class="containerh">
                <button type="button"><img src="@/assets/coder.png" alt="programación"><a href="Cprogramacion.html"><h1>Programación</h1></a></button>
                <button type="button"><img src="@/assets/Diseño.png" alt="Diseñador"><a href="Cdiseño.html"><h1>Diseño</h1></a></button>
                <button type="button"><img src="@/assets/Finanzas.png" alt="Finanzas"><a href="Cdiseño.html"><h1>Finanzas</h1></a></button>
                <button type="button"><img src="@/assets/idiomas.png" alt="idiomas"><a href="Cidioma.html"><h1>Idioma</h1></a></button>
                <button type="button"><img src="@/assets/artist.png" alt="Artista"><a href="Carte.html"><h1>Arte</h1></a></button>
                <button type="button"><img src="@/assets/MedioAmbiente.png" alt="Medio ambiente"><a href="Cmoda.html"><h1>Medio Ambiente</h1></a></button>
            </div>

        </section>
       
    </div>

</template>


<script>

export default {
    name: "HomeUser",

    data: function(){
        return {
            username: localStorage.getItem('username') || "none"
        }
    }
}
</script>


<style>
    .homeu{
        margin: 0;
        padding: 2% 0 0 0;
        width: 100%;
        align-items: center;
        background-color:rgb(9, 26, 37);
    }
    #usuario{
        text-align:center;
        border-radius: 60px;
        align-items: center;
        width: 26%;
        margin: auto;
        padding: 5px 0 15px 0;
        background-color: rgba(0, 217, 255, 0.548);
    }

    #usuario h1{
        font-size: 50px;
        color: white;
    }

    #usuario span{
        color:rgb(81, 220, 255);
        font-weight: bold;
        font-size: 60px;
        text-shadow: 2px 0px 1px rgb(14, 72, 80);
    }

    #contenidoHome{
        /*background-color: rgba(192, 192, 192, 0.548);*/
        width:100%;
        text-align:center;
        align-content:center;
    }
    #titulo{
       /* background-color:red;*/
        margin: 25px 0 15px;
    }
    #titulo h1{
    font-family: 'GlacialIndifferenceRegular';
    color:rgb(255, 255, 255);
    font-size: 55px;
    }
    .containerh{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 25px 10%;
    gap:12px;
    /*background-color: red;*/
    flex-wrap: wrap;
    }
    .containerh h1{
        background-color: rgb(225, 231, 235);
        font-family: 'GlacialIndifferenceRegular';
        color:rgb(60, 118, 194);
        font-size: 22px;
        padding:2%;
        margin:0%;
    }
    .containerh h1:hover{
        background-color: rgb(142, 145, 146);
        color:rgb(45, 93, 155);
        cursor:pointer;
    }
    .containerh a{
        text-decoration: none;
    }
    .containerh img{
        width: 200px;
        padding: 1%;
    }
    .containerh button{
        background-color: rgba(42, 91, 121, 0.548);
        border: none;
        padding: 1%;
    }
    #titulo{
        font-family: 'GlacialIndifferenceRegular';
        color: #fff;
        display: flex;
        justify-content: space-around;
    }
</style>